html {
  background-color: #F3EFE0;;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #F3EFE0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

textarea {
  display: block;
  width: calc(100% - 9.5px);
  overflow-x: hidden;
  overflow-y: scroll;
  resize: none;
  height: 100%;
  line-height: 20px;
  background-color: #F3EFE0;
}

textarea:valid {
  border-bottom: 2px solid rgb(0, 95, 204);
  border-top: 2px solid rgb(0, 95, 204);
  border-left: 3px solid rgb(0, 95, 204);
  border-right: 2px solid rgb(0, 95, 204);
  outline-color: 2px solid rgb(0, 95, 204);
  outline: none;
}

.message {
  padding-left: 2px;
  display: flex;
  justify-content: space-between;
}

#counts {
  padding-right: 4px;
  line-height: 25px;
  display: flex;
}

#line-count {
  margin-left: 10px;
}