html {
  background-color: #a8f29a;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #a8f29a;
}

textarea {
  display: block;
  width: calc(100% - 9.5px);
  overflow-x: hidden;
  overflow-y: scroll;
  resize: none;
  min-height: calc(100% - 30px);
  line-height: 20px;
  background-color: #a8f29a;
}

textarea:valid {
  border-bottom: 2px solid rgb(0, 95, 204);
  border-top: 2px solid rgb(0, 95, 204);
  border-left: 3px solid rgb(0, 95, 204);
  border-right: 2px solid rgb(0, 95, 204);
}

.message {
  height: 30px;
  padding-left: 2px;
  line-height: 25px;
}