html {
  background-color: #F3EFE0;;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #F3EFE0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

textarea {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: none;
  flex: 1;
  line-height: 20px;
  margin: 0;
  background-color: #F3EFE0;
}

textarea:valid {
  border: 2px solid rgb(0, 95, 204);
  outline: none;
}

.message {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 95, 204);
  border-left: 2px solid rgb(0, 95, 204);
  border-right: 2px solid rgb(0, 95, 204);
}

@media (max-width: 442px) {
  .message {
    justify-content: center;
  }
}

.message__description {
  padding: 10px;
}

.message__textarea-counts {
  padding: 10px;
  display: flex;
}

#line-count {
  margin-left: 10px;
}