:root {
  --bg-color: #F3EFE0;
  --border-color: rgb(0, 95, 204);
}

html {
  background-color: var(--bg-color);
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

textarea {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: none;
  flex: 1;
  line-height: 20px;
  margin: 0;
  background-color: var(--bg-color);
  font-size: 16px;
}

textarea:valid {
  border: 2px solid var(--border-color);
  outline: none;
}

.message {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  font-family: Times, serif;
}

@media (max-width: 566px) {
  .message {
    justify-content: center;
    flex-direction: column;
  }

  .message .message__description,
  .message .message__dwl-button,
  .message .message__textarea-counts {
    margin: 0 auto;
    width: fit-content;
  }
}

.message__description {
  padding: 10px;
}

.message__description:hover {
  text-decoration: underline;
}

.message__textarea-counts {
  padding: 10px;
  display: flex;
}

#line-count {
  margin-left: 10px;
}

.message__dwl-button {
  font-size: medium;
  background-color: var(--bg-color);
  cursor: pointer;
  margin: auto 0;
  font-family: inherit;
}